.header-con {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  padding: 0 5%;
  background-color: #fff;
  z-index: 999999;
  box-shadow: #00000020 0 0 10px;
}
.logo {
  cursor: pointer;
  width: 18%;
}
.menu-con {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 82%;
  height: 100%;
  max-width: 1920px;
  position: relative;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65%;
  padding: 0 5%;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}
.sub-menu {
  /* position: absolute;
  right: 0;
  bottom: 0;
	max-width: 2500px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12% 0 4.5%;
  width: 107%;
  height: 35%;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: #fff;

  /* background-image: url(/assets/svg/sub-menu.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background: var(--grad);
  clip-path: polygon(2% 0%, 100% 0%, 100% 100%, 0% 100%);
  box-shadow: inset #00000050 5px 5px 10px;
}
.sub-menu li a {
  color: #fff;
  height: 100%;
}
.sub-menu li {
  color: #ffffff50;
  font-weight: 400;
  margin: 0 10px;
  height: 100%;
}
.sub-menu ul {
  height: 100%;
}
.menu-ul {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  color: #00000020;
  height: 100%;
}
.menu-ul li a {
  color: var(--black);
  transition: var(--tran-03);
  height: 100%;
}
.menu-ul li a:hover {
  color: var(--main);
}
.menu-ul li a {
  cursor: pointer;
}

.link img {
  scale: 1.2;
  margin: 0 13px;
  transition: var(--tran-03);
}
.link img:hover {
  scale: 1.1;
  filter: brightness(70%);
}

.pdf-down::after {
  content: url(/assets/svg/pdf.svg);
  scale: 1.2;
  margin: 0 8px;
  display: block;
  transition: var(--tran-03);
}
.pdf-down:hover::after {
  scale: 1.4;
}
.sub-menu-comp {
  display: flex;
  align-items: center;
}
.sub-menu-comp h3 a {
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.sub-menu-comp span {
  color: #ffffff50;
  font-weight: 400;
  margin: 0 20px;
}
.lang-switch {
  color: #fff;
  font-weight: 400;
  background: transparent !important;
  padding: 0 10px !important;
  margin: 0 !important;
}

.about-btn::after {
  content: url(/assets/svg/arrow-black.svg);
  margin: 0 10px;
  transition: var(--tran-03);
}
.about-btn.active::after {
  rotate: 90deg;
}
.sub-about-btn.show {
  animation: fadeInMenu 0.3s forwards;
}
.sub-about-btn {
  animation: fadeOutMenu 0.3s forwards;
}

/* -------------------sub-menu-catalog-------------------------- */

.catalog-btn::after {
  content: url(/assets/svg/arrow-white.svg);
  margin: 0 10px;
  transition: var(--tran-03);
}
.catalog-btn.active::after {
  rotate: 90deg;
}
.catalog-btn:hover > .catalog-sub-btn {
  display: flex;
}

.sub-menu-catalog.show {
  animation: fadeInMenu 0.3s forwards;
}
.sub-menu-catalog {
  animation: fadeOutMenu 0.3s forwards;
}

.catalog-sub-btn {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: start;
  background: #fff;
  box-shadow: #00000030 0 0 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.catalog-sub-btn li a {
  display: flex;
  justify-content: start;
  padding: 15px 60px;
  width: 100%;
  transition: var(--tran-01);
}
.catalog-sub-btn li {
  width: 100%;
}

.catalog-sub-btn li a:hover {
  background: var(--main);
  color: #fff;
}
.sub-menu-catalog {
  top: 100%;
  left: 0;
}
.sub-sub-menu-catalog {
  top: 0;
  left: 100%;
  width: 100%;
}
.about-btn-li {
  position: relative;
}

.sub-about-btn {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: start;
  background: #fff;
  box-shadow: #00000030 0 5px 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 100%;
  left: -20%;
  z-index: 999;
  overflow: hidden;
}

.sub-about-btn li {
  width: 100%;
}
.sub-about-btn li a {
  display: flex;
  justify-content: start;
  padding: 10px 40px 10px 30px;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #00000010;
  width: 100%;
  transition: var(--tran-01);
}
.sub-sub-menu-catalog {
  display: none;
}
.sub-menu-catalog li:hover .sub-sub-menu-catalog {
  display: flex;
}
.icon-menu::before {
  margin: 0 10px 0 0;
  scale: 1.2;
}

.icon-menu_1::before {
  content: url(/assets/svg/menu-icon/1.svg);
}
.icon-menu_2::before {
  content: url(/assets/svg/menu-icon/2.svg);
}
.icon-menu_3::before {
  content: url(/assets/svg/menu-icon/3.svg);
}
.icon-menu_4::before {
  content: url(/assets/svg/menu-icon/4.svg);
}
.icon-menu_5::before {
  content: url(/assets/svg/menu-icon/5.svg);
}
.icon-menu_6::before {
  content: url(/assets/svg/menu-icon/6.svg);
}
.icon-menu_7::before {
  content: url(/assets/svg/menu-icon/7.svg);
}
.icon-menu_8::before {
  content: url(/assets/svg/menu-icon/8.svg);
}
/* .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1920px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}
.nav-con {
  display: flex;
  width: 100%;
  align-items: center;
  background: #fff;
}

.contact-con {
  display: flex;
  align-items: center;
  gap: 30px;
}
.contact-btn {
  display: flex;
  gap: 15px;
}



.menu > ul > a > li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
}
.menu > ul > li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
}

.menu ul ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  left: 0;
  top: 58px;
  background-color: #fff;
  box-shadow: #00000020 0 0 15px;
  min-width: 180px;
  z-index: 9;
  overflow: hidden;
  border-radius: 2px;
  max-height: 0;
  transition: all 0.6s ease-in-out;
}

.menu > ul > li:hover > ul {
  max-height: 500px;
}

.menu ul ul li {
  padding: 15px 0;
  margin: 0 20px;
  background-color: #fff;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  cursor: pointer;
  border-color: #00000020;
  transition: var(--tran-03);
}
.menu ul ul li:hover {
  transition: var(--tran-03);
}

.-list {
  position: relative;
}
.vert-list {
  padding: 0 !important;
  color: #8b8b8b;
  margin: 5px;
}

.-list::after {
  content: url(/assets/svg/link/down.svg);
  transition: var(--tran-03);
  display: inline-block;
  margin-left: 3px;
}

.-list:hover:after {
  transform: rotate(-90deg);
  transition: var(--tran-03);
}

._list {
  position: relative;
  cursor: pointer;
  list-style: none;
}

._list::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main);
  transform: scaleX(0);
  transition: var(--tran-05);
  z-index: 999;
}

._list:hover::before {
  transform: scaleX(1);
}
.contact-btn a svg path {
  cursor: pointer;
}
.contact-btn {
  cursor: pointer;
}
.contact-btn a:hover > svg path {
  cursor: pointer;
  fill: var(--main);
  transition: var(--tran-03);
  scale: 0.95;
}

.swiper-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
}

.swiper-button-next,
.swiper-button-prev {
  margin: 10px 0 !important;
  cursor: pointer !important;
}

.tel-item-con {
  position: relative;

  cursor: pointer;
}
.tel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tel-item-con svg:hover path {
  cursor: pointer;
  fill: var(--main);
  transition: var(--tran-03);
  scale: 0.95;
}
.mail-item-con svg:hover path {
  cursor: pointer;
  fill: var(--main);
  transition: var(--tran-03);
  scale: 0.95;
}
.tel-item-con svg {
  cursor: pointer;
}
.tel-item {
  position: absolute;
  top: 52px;
  left: -170px;
  width: 200px;
  height: 50px;
  box-shadow: #00000020 0 0 15px;
  border-radius: 2px;
  background: #fff;
  transform: translateY(-110%);
  opacity: 0;
  transition: var(--tran-03);
  z-index: -1;
}
.mail-item {
  position: absolute;
  top: 52px;
  right: 170px;
  width: fit-content;
  height: 50px;
  padding: 15px;
  box-shadow: #00000020 0 0 15px;
  border-radius: 2px;
  background: #fff;
  transform: translateY(-100%);
  opacity: 0;
  transition: var(--tran-03);
  z-index: -1;
}
.tel-item-con svg:hover ~ .tel-item {
  transform: translateY(0);
  opacity: 1;
  transition: var(--tran-03);
}
.mail-item-con svg:hover ~ .mail-item {
  transform: translateY(24px);
  opacity: 1;
  transition: var(--tran-03);
}
.tel-item h2 {
  font-size: 20px;
}

.copy-message {
  position: absolute;
  margin-left: 10px;
  color: var(--main);
  font-size: 14px;
  display: none;
} */
