.title-obj {
  background: url(/assets/img/obj-title.png);
  background-size: cover;
  background-position: center;
}
.title-prop-obj .title-prop_carts h2 {
  color: #fff;
  font-size: 25px;
}
.block_2-obj-carts-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.obj-carts-btn-con {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  width: 80%;
}
.obj-carts-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.obj-carts-btn h2 {
  cursor: pointer;
  transition: var(--tran-03);
}
.obj-carts-btn h2:hover {
  color: var(--main);
  transition: var(--tran-03);
}
.obj-carts-btn h3 {
  color: #00000050;
  font-size: 20px;
  cursor: default;
  margin: 0 30px;
}
.search input {
  border-style: none;
  width: fit-content;
  padding: 4px 60px;
  margin: 0 15px;
  font-size: var(--btn);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;
  color: var(--black);
  background: #00000010;
  transition: var(--tran-05);
}
.search input:active {
  border-color: var(--gray);
}

/* ////////////////////////////////////////////// */
.obj-carts-con {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  min-height: 300px;
  align-items: center;
  justify-content: center;
}
.obj-carts-con p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: var(--main);
}
.results-list.visible {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;
  color: var(--black);
  padding: 5%;
}

.carts {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: cover;
  overflow: hidden;
  transition: var(--tran-05);
}

.carts-back {
  background: #00000000;
  transition: var(--tran-05);
}
.carts-back.show-obj {
  background: #0000007c;
  transition: var(--tran-05);
}
/* .carts:hover .carts-back {
  background: #00000060;
  transition: var(--tran-05);
} */
.close-carts-full {
  cursor: pointer;
  position: absolute;
  top: 20%;
  right: 10%;
  opacity: 0.5;
  transition: var(--tran-05);
}
.close-carts-full:hover {
  opacity: 1;
  transition: var(--tran-05);
}

.carts-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 10%;
  cursor: pointer;
  transform: translateY(50px);
  opacity: 0;
  transition: var(--tran-05);
  z-index: 99;
}
.carts-content.show-obj {
  transform: translateY(0);
  opacity: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: var(--tran-05);
}
/* .carts:hover .carts-content {
  transform: translateY(0);
  opacity: 1;
  backdrop-filter: blur(10px);
  transition: var(--tran-05);
} */

.swiper-button-next,
.swiper-button-prev {
  padding: 100px;
}

.carts-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000000;
  z-index: 9;
  transition: var(--tran-05);
}

.carts-content h1 {
  color: var(--main);
  cursor: pointer;
}
.carts-content h2 {
  color: #fff;
  margin: 30px 0;
  cursor: pointer;
}
.carts-content h2 span {
  font-size: 16px;
  color: #ffffff90;
  cursor: pointer;
}
.carts-prop h3 {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.carts-prop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.carts-prop h3 span {
  color: var(--main);
  font-size: 30px;
  line-height: 1.8;
  cursor: pointer;
}

/* ////////////////////////////////////////////// */

/* @keyframes fadeInCarts {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutCarts {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
  }
} */

.carts-full-con.hide-prev {
  visibility: hidden;
}
.carts-full-con.show {
  /* visibility: visible; */
  animation: fadeInCarts 0.5s forwards;
}
.carts-full-con.hide {
  /* visibility: hidden; */
  animation: fadeOutCarts 0.5s forwards;
}

.carts-full-con {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 9999;
  background: #00000070;
}

/* .carts-full {
  background: url(/assets/img/carts/1/1.png);
} */

.carts-full {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  max-width: 1500px;
  min-width: 900px;
  height: 80%;
  max-height: 1000px;
  min-height: 300px;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: #00000090 0 0 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.carts-swiper {
  width: 60% !important;
  position: relative;
}

.carts-slide img {
  width: 100%;
  filter: brightness(80%);
}

.swiper-button-next {
  color: #fff !important;
  opacity: 0.5;
  cursor: pointer;
  transition: var(--tran-05);
}
.swiper-button-prev {
  color: #fff !important;
  opacity: 0.5;
  cursor: pointer;
  transition: var(--tran-05);
}
.swiper-button-next:hover {
  opacity: 1;
  cursor: pointer;
  transition: var(--tran-05);
}
.swiper-button-prev:hover {
  opacity: 1;
  cursor: pointer;
  transition: var(--tran-05);
}
.swiper {
  position: relative !important;
}

.swiper-scrollbar {
  background: #ffffff1f !important;
}
.swiper-scrollbar-drag {
  background: #ffffff56 !important;
}
.pagination-container {
  display: flex;
  justify-content: end;
  width: 100%;
  height: fit-content;
  padding: 20px 10%;
}

.pagination-btn {
  padding: 2px 8px !important;
  border-radius: 100px !important;
  color: var(--main) !important;
  background: #fff !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--main) !important;
}

.pagination-btn.active {
  color: #fff !important;
  background: var(--main) !important;
}

/* Стиль для контейнера поиска */
.search {
  position: relative;
  display: inline-block;
}

/* Поле ввода */
.search input[type="search"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Список актуальных элементов */
.results-list {
  position: absolute;
  top: calc(100% + 5px); /* Под полем поиска */
  left: 0;
  width: 100%;
  max-height: 400px; /* Ограничиваем высоту */
  overflow-y: auto; /* Прокрутка при переполнении */
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* Изначально скрыто */
  z-index: 1000;
}

/* Видимость списка, если поле поиска в фокусе */

/* #carts-container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.no-results {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--main);
}
#results-list {
  background: #ffffff91;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-style: none;
}
.result-item {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  padding: 10px;
}
.result-item:hover {
  background: #00000028;
  border-radius: 10px;
}
.adress-full-carts {
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-weight: 300;
  color: #fff;
}
.obj-carts-btn button {
  color: var(--gray);
  border-style: none;
  width: fit-content;
  padding: 4px 5px;
  margin: 0;
  font-size: 18px;
  border-radius: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
  background: #00000000;
  transition: var(--tran-05);
}
.obj-carts-btn button:focus {
  color: var(--main);
  transition: var(--tran-05);
}
.wu-mob-con {
  display: none;
}
